@import url('https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css');
  
.a-glow {
    font-family: 'Hack';
}
.center {
  display: flex;
  min-height: 0vh;
  height: 100%;
  justify-content: Center;
  align-items: Center;
  flex-direction: column;
}

.a-glow {
  width: 250px;
} 

.a-glow:focus {
  outline: none;
}

.a-glow {
    background-color: #000000;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: #060921;
    cursor: pointer;
    display: inline-block;
    font-family: 'Hack';
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

.a-glow:hover {
    background-color: #004A7F;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Hack';
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-decoration: underline;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% { background-color: #c5b1e7; -webkit-box-shadow: 0 0 3px #c5b1e7; }
    50% { background-color: #8b64ce; -webkit-box-shadow: 0 0 40px #8b64ce; }
    100% { background-color: #c5b1e7; -webkit-box-shadow: 0 0 3px #c5b1e7; }
}

@-moz-keyframes glowing {
    0% { background-color: #c5b1e7; -moz-box-shadow: 0 0 3px #c5b1e7; }
    50% { background-color: #8b64ce; -moz-box-shadow: 0 0 40px #8b64ce; }
    100% { background-color: #c5b1e7; -moz-box-shadow: 0 0 3px #c5b1e7; }
}

@-o-keyframes glowing {
    0% { background-color: #c5b1e7; box-shadow: 0 0 3px #c5b1e7; }
    50% { background-color: #8b64ce; box-shadow: 0 0 40px #8b64ce; }
    100% { background-color: #c5b1e7; box-shadow: 0 0 3px #c5b1e7; }
}

@keyframes glowing {
    0% { background-color: #c5b1e7; box-shadow: 0 0 3px #c5b1e7; }
    50% { background-color: #8b64ce; box-shadow: 0 0 40px #8b64ce; }
    100% { background-color: #c5b1e7; box-shadow: 0 0 3px #c5b1e7; }
}


small {
  margin-top: 25px;
  color: #c1c1c1;
}